<div class="container-fluid p-0">
  <header>
    <h3 class="text-center">Sidebar functionality using ng-sidebar</h3>
  </header>

  <ng-sidebar-container>
    <ng-sidebar [(opened)]="_opened" [mode]="'push'">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-lin active">Option 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-lin">Option 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-lin">Option 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-lin">Option 4</a>
        </li>
        <li class="nav-item">
          <a class="nav-lin">Option 5</a>
        </li>
        <li class="nav-item">
          <a class="nav-lin">Option 6</a>
        </li>
        <li class="nav-item">
          <a class="nav-lin">Option 7</a>
        </li>
        <li class="nav-item">
          <a class="nav-lin">Option 8</a>
        </li>
        <li class="nav-item">
          <a class="nav-lin">Option 9</a>
        </li>
        <li class="nav-item">
          <a class="nav-lin">Option 10</a>
        </li>
      </ul>
    </ng-sidebar>

    <div ng-sidebar-content>
      <h3>Here is the content</h3>
      <button type="button" (click)="_toggleSidebar()">Toggle sidebar</button>
    </div>
  </ng-sidebar-container>
</div>
