<div class="container-fluid p-0">
  <header>
    <nav class="navbar navbar-expand-md">
      <a href="#" class="navbar-brand logo">ChristianGálvez</a>
    </nav>
  </header>

  <ng-sidebar-container>
    <ng-sidebar [opened]="opened" [mode]="mode">
      <header>
        <h5 class="menu">Menu</h5>
      </header>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active">Option 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Option 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Option 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Option 4</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Option 5</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Option 6</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Option 7</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Option 8</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Option 9</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Option 10</a>
        </li>
      </ul>
    </ng-sidebar>

    <div ng-sidebar-content>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
              <button type="button" class="btn btn-primary" (click)="_openSidebar()">Open/Close Sidebar</button>
          </div>
          <div class="col-md-4">
              <button type="button" class="btn btn-primary" (click)="_toggleSidebar('push')">Push Content</button>
              <button type="button" class="btn btn-primary" (click)="_toggleSidebar('over')">Over Content</button>
              <button type="button" class="btn btn-primary" (click)="_toggleSidebar('slide')">Slide content</button>
          </div>
        </div>
      </div>
    </div>
  </ng-sidebar-container>
</div>
