<div class="container-fluid p-0">
<header>
  <h3 class="text-center">Sidebar functionality using ng-sidebar</h3>
</header>

<ng-sidebar-container>
  <ng-sidebar [(opened)]="_opened" [mode]="push">
    <ul>
      <li>Option 1</li>
      <li>Option 2</li>
      <li>Option 3</li>
      <li>Option 4</li>
      <li>Option 5</li>
      <li>Option 6</li>
      <li>Option 7</li>
      <li>Option 8</li>
      <li>Option 9</li>
      <li>Option 10</li>
    </ul>
  </ng-sidebar>

  <div ng-sidebar-content>
    <h3>Here is the content</h3>
    <button type="button" (click)="_toggleSidebar()">Toggle sidebar</button>
  </div>
</ng-sidebar-container>
</div>